# Source
src/

# Tests
jest-setup/
tests/
coverage/
jest.config.js
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Configuration files
.eslintrc
.prettierrc
tsconfig.json
tsconfig.spec.json
.gitignore

# Development files
*.log
*.tsbuildinfo
.vscode/
.idea/
.git/
.husky

# Documentation
docs/
*.md
!README.md
!LICENSE